html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  justify-content: center;
  overflow: hidden;
}

.chronicdespair {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.okvro {
  font-size: 20px;
  color: white;
}
