html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  justify-content: center;
  overflow: hidden;
}

@font-face {
  font-family: 'Satan';
  src: url('fonts/Satan.woff2') format('woff2'),
       url('fonts/Satan.woff') format('woff'),
       url('fonts/Satan.ttf') format('truetype');
}

@font-face {
  font-family: 'NEXA';
  src: url('fonts/NEXA.ttf') format('truetype');
}

.ctrlmania {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.h1 {
  font-family: 'Satan', sans-serif;
  font-size: 60px;
  text-shadow: 0 0 20px white;
  color: white;
  letter-spacing: 30px;
  margin-bottom: 1;
  animation: fadeIn 3s forwards;
}

.star {
  font-size: 40px;
  color: white;
  text-shadow: 0 0 10px white;
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 5;
  text-align: center;
  position: relative;
  animation: fadeInStar 3s forwards, rotateSliding 3s infinite ease-in-out;
}

.enter {
  font-family: 'Satan', sans-serif;
  font-size: 40px;
  color: white;
  text-shadow: 0 0 10px white;
  text-decoration: none;
  letter-spacing: 20px;
  animation: enterFadeIn 3s forwards;
  animation-delay: 3s;
  opacity: 0;
  transition: color 0.5s ease;
}

a:hover {
 color: #A69494;
}

@keyframes enterFadeIn {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
  
  
}

@keyframes fadeIn {
  0% {
    transform: scale(1.3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInStar {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes rotateSliding {
  0% {
    transform:  translateX(-300%) rotate(360deg) 
  }
  50% {
    transform:  translateX(300%) rotate(0deg);
  }
  100% {
    transform:  translateX(-300%) rotate(360deg) ;
  }
}
